@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('wodff');
}



:root {
  --main-font: 'PT Sans', Arial, sans-serif;
  --white: #FFFFFF;
  --black: #000000;
  --red: #FF0000;
  --blue-1: #81B3D2;
  --blue-2: #669EC0;
  --blue-3: #5496BD;
  --gray-1: #B3B3B3;
  --gray-2: #EEEEEE;
  --gray-3: #333333;
  --gray-4: #CACACA;
  --brown-1: #766357;
  --brown-2: #604E43;
  --brown-3: #503E33;

  --link: var(--black);
  --link-hover: var(--blue-1);
  --link-active: var(--gray-1);
  --link-focus: var(--brown-1);

  --sort-direction: #CACACA;

  --button-blue-color: var(--white);
  --button-blue-color-active: var(--gray-1);
  --button-blue-background-color: var(--blue-1);
  --button-blue-background-color-hover: var(--blue-2);
  --button-blue-background-color-active: var(--blue-3);
  --button-blue-social-color-active: #87B5D1;

  --button-brown-color: var(--white);
  --button-brown-color-active: var(--gray-1);
  --button-brown-background-color: var(--brown-1);
  --button-brown-background-color-hover: var(--brown-2);
  --button-brown-background-color-active: var(--brown-3);

  --academy-logo: #231F20;
  --academy-logo-hover: var(--blue-1);
  --academy-logo-active: #BDBBBC;

  --search-form-background-average: #526171;
  --brand-background-average: #768591;

  --logo-academy: #231F20;
  --logo-academy-hover: var(--blue-1);
  --logo-academy-active: #BDBBBC;

  --button-sort: var(--gray-4);
  --button-sort-hover: var(--black);
  --button-sort-active: var(--blue-1);

  --hotel-star: var(--blue-1);
}



body {
  min-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: var(--link-hover);
}

a:focus {
  color: var(--link-focus);
}

a:active {
  color: var(--link-active);
}



/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}



/* Common */

.list-style-none {
  list-style: none;
}

.button-common {
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: var(--white);
}

.button-blue {
  color: var(--button-blue-color);
  background-color: var(--button-blue-background-color);
}

.button-blue:hover {
  background-color: var(--button-blue-background-color-hover);
}

.button-blue:active {
  color: var(--button-blue-color-active);
  background-color: var(--button-blue-background-color-active);
}

.button-brown {
  color: var(--button-brown-color);
  background-color: var(--button-brown-background-color);
}

.button-brown:hover {
  background-color: var(--button-brown-background-color-hover);
}

.button-brown:active {
  color: var(--button-brown-color-active);
  background-color: var(--button-brown-background-color-active);
}



/* Main navigation */

.main-navigation {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--black);
}

.main-navigation__list {
  height: 56px;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
  justify-items: center;
  align-items: center;
}

.main-navigation__skip-logo {
  grid-column: span 2;
  justify-self: start;
  margin-left: 61px;
}

.main-navigation__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}



/* Brand */

.brand {
  background-image: url("../img/brand-background.jpg");
  background-color: var(--brand-background-average);
  width: 1200px;
  height: 509px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Benefits */

.benefits__grid {
  display: grid;
  grid-template-areas:
    "real-city real-city-picture real-city-picture"
    "housing food souvenir"
    "devils-bridge-picture devils-bridge-picture devils-bridge"
    "small-area fun-travel little-tourists";
  grid-template-rows: 256px 300px 256px 256px;
  grid-gap: 0;
}

.benefits__grid-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits__grid__real-city {
  grid-area: real-city;
}

.benefits__grid__real-city-picture {
  grid-area: real-city-picture;
}

.benefits__grid__housing {
  grid-area: housing;
}

.benefits__grid__food {
  grid-area: food;
}

.benefits__grid__souvenir {
  grid-area: souvenir;
}

.benefits__grid__devils-bridge-picture {
  grid-area: devils-bridge-picture;
}

.benefits__grid__devils-bridge {
  grid-area: devils-bridge;
}

.benefits__grid__small-area {
  grid-area: small-area;
}

.benefits__grid__fun-travel {
  grid-area: fun-travel;
}

.benefits__grid__little-tourists {
  grid-area: little-tourists;
}

.benefits__unappreciated {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  max-width: 470px;
  margin: auto;
}

.benefits__five-advantages {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.benefits__benefit-block {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.benefits__benefit-block-header {
  font-size: 21px;
  line-height: 21px;
  max-width: 149px;
  margin: auto;
}

.benefits__benefit-block-text {
  max-width: 285px;
  margin: auto;
}

.benefits__benefit-block-blue {
  background-color: var(--blue-1);
  color: var(--white);
}

.benefits__benefit-block-blue-text {
  max-width: 305px;
  margin: auto;
}

.benefits__benefit-block-gray {
  background-color: var(--gray-2);
  color: var(--gray-3);
}

.benefits__benefit-block-gray-header {
  color: var(--black);
}

.benefits__benefit-block-gray-text {
  max-width: 258px;
  margin: auto;
}

.benefits__icon {
  fill: var(--blue-1);
}

/* Search */

.search__header {
  font-size: 30px;
  text-align: center;
}

.search__text {
  text-align: center;
}

.search__button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}


/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.contacts {
  font-weight: 700;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.social__button {
  width: 46px;
  height: 48px;
  background-color: var(--blue-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
}

.social__icon {
  fill: var(--white);
}

.social__button:active .social__icon {
  fill: var(--button-blue-social-color-active);
}

.logo-academy {
  fill: var(--logo-academy);
}

.logo-academy:hover {
  fill: var(--logo-academy-hover);
}

.logo-academy:active {
  fill: var(--logo-academy-active);
}


/* Search form */

.search-form {
  background-color: var(--search-form-background-average);
  background-image: url("../img/search-form-background.jpg");
  width: 1200px;
  height: 217px;
  color: var(--white);
  font-size: 14px;
  line-height: 21px;
  display: grid;
  grid-template-columns: 300px 500px auto;
}

.search-form__infrastructure,
.search-form__type,
.search-form__cost {
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search-form__cost__min-max {
  display: flex;
}

.search-form h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin: 0;
}

.search-form__cost-min,
.search-form__cost-max {
  background: transparent;
}

.search-form__cost-min::placeholder,
.search-form__cost-max::placeholder {
  text-transform: uppercase;
  color: var(--white);
}

.search-form__button-submit {
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  background: transparent;
  color: var(--white);
  border: 2px solid #FFFFFF;
}

.search-form__button-submit:hover {
  background-color: var(--white);
  color: var(--black);
}



/* Search result */

.search-result {
  margin-left: 73px;
  margin-right: 73px;
}

.search-result__sorting {
  display: grid;
  grid-template-columns: repeat(3, 300px) auto;
  align-items: center;
  /*justify-items: end;*/
}

.search-result__header {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.search-result__body {
  display: grid;
  grid-template-columns: 100px 130px;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.search-result__image {
  align-self: center;
}

.search-result__sort {
  font-size: 12px;
  line-height: 18px;
}

.search-result__sort-list {
  display: flex;
  justify-content: space-around;
}

.search-result__sort-type-button {
  border: none;
  background-color: var(--white);
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dotted var(--blue-1);
  padding: 0;
  color: var(--gray-1);
}

.search-result__sort-type-button:hover {
  color: var(--blue-1);
}

.search-result__sort-type-button:active {
  border-bottom: 1px dotted var(--white);
  color: var(--black);
}

.search-result__sort-type-button:focus {
  outline: none;
}

.search-result__sort-type-button__selected {
  border-bottom: 1px dotted var(--white);
  color: var(--blue-1);
}

.search-result__item-button {
  font-size: 14px;
  line-height: 21px;
}

.search-result__sort-order {
  fill: var(--button-sort);
}

.search-result__sort-order:hover {
  fill: var(--button-sort-hover);
}

.search-result__sort-order:active {
  fill: var(--button-sort-active);
}

.search-result__sort-order-active {
  fill: var(--button-sort-active);
}

.search-result__sort-order-items {
  justify-self: end;
}

.search-result__hotel-star {
  fill: var(--hotel-star);
}

.search-result-item {
  display: grid;
  grid-template-columns: 200px auto 200px;
  height: 90px;
  margin-bottom: 30px;
}

.search-result__rating {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
}

.search-result__rating-stars {
  padding: 0;
  display: flex;
}
